extends header

block content
    section
      .row
          #left.col-sm-4
            img.rounded-circle.mx-auto.d-block(src='images/profilePhoto.jpeg' alt='profile_img')
            p
              b Bhagyesh Bhavsar
          #right.col-sm-8
            h1 About Me!
            p I am Bhagyesh Bhavsar. I am student at Centennial College, pursuing my 3rd semester in Software Engineering Technology course. I have completed my higher secondary in India. As a part of my program, I have completed my internship with reputed organization ISRO. Here I learned about Android development and web development with Java. I am proficient with front-end technology like HTML5, CSS3, BootStreap and JavaScript. I also goot with back-end technologies like JAVA, PHP, Python, Node.JS/Express.JS. I have sufficient knowledge of Database. I am passionate about Computer Science and willing to put my skills to explore more about it.
    block content
        include footer