extends header

block content
  header
    img.rounded-circle.mx-auto.d-block(src='images/profilePhoto.jpeg' alt='profile_photo')
    h1 Bhagyesh Bhavsar
    h2 Software Developer
  block content
        include footer