extends header

block content
    main
      .row
        .col-sm-4
          img(src='images/scrable.png' alt='scrable_img')
          p Scrable Game -Java
        .col-sm-4
          img(src='images/employee.png' alt='employee_img')
          p Employee Portal - PHP
        .col-sm-4
          img(src='images/crypto.jpg' alt='crypto_img')
          p Crypto News Web Application - Chrome
      .row
        .col-sm-4
          img(src='images/dustbin.jpg' alt='dustbin_img')
          p Smart Dustbin - Ardunio
        .col-sm-4
          img(src='images/todolist.png' alt='todo_img')
          p Todo List - JavaScript
        .col-sm-4
    block content
        include footer