extends header

block content
    main
          .row
            .col-sm-4
              img(src='images/java.jpeg' alt='java_img')
              p Java
            .col-sm-4
              img(src='images/php.png' alt='php_img')
              p PHP
            .col-sm-4
              img(src='images/apple.png' alt='apple_img')
              p Apple
          .row
            .col-sm-4
              img(src='images/android.jpg' alt='android_img')
              p Android
            .col-sm-4
              img(src='images/nodejs1.png' alt='nodejs_img')
              p Node.JS/Express.JS
            .col-sm-4
    block content
        include footer